button {
    border-radius: 15px;
    background: #3498db;
    border: none;
    color: white;
    padding: 10px;
    padding-right: 16px;
    padding-left: 16px;
    transition: all 0.15s ease-out;
    margin-bottom: 15px;
    font-weight: 600;
    box-shadow: #3a9ff2bf 0 12px 15px -12px;
  }

  button:hover {
    cursor: pointer;
    background: #5dade2;
  }

  button:active {
    background: #2c81ba;
    border-color: #2c81ba;
    transform: translateY(2px);
    box-shadow: #3a9ff2bf 0 10px 8px -12px;
    transition: all 0.08s ease-in;
  }

#startTime {
	margin-left: 5px;
    margin-top: 2px;
	font-weight: 600;
	text-align: left;
    color: #ecf0f1;
}

#endTime {
	right: 5px;
	font-weight: 600;
}

#startTime, #endTime {
    color: #ecf0f1;
}

#tooltip.left-tail::after {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	background: white;
	left: -10px;
	transform: translateY(-50%) rotate(45deg);
	top: 50%;
	border-radius: 3px;
	border-bottom: 2px solid #ebedef;
	border-left: 2px solid #ebedef;
}

#tooltip.right-tail::after {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	background: white;
	right: -10px;
	transform: translateY(-50%) rotate(225deg);
	top: 50%;
	border-radius: 3px;
	border-bottom: 2px solid #ebedef;
	border-left: 2px solid #ebedef;
}

#endTime {
	right: 5px;
	font-weight: 600;
    margin-bottom: 2px;
    color: #ecf0f1;
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	background: #F9FAFB;
}
